{% extends "../base.html" %}
{% load static %}
{% block title %}Carrito Muestra{% endblock %}
{% block content %}
<main class="pt-5">
    <div class="container">
      <h1 class="h5">Carrito</h1>
      {% for item in carrito %}
      {% with producto=item.producto %}
      <div data-index="{{producto.id}}" class="row mb-4 border producto-item">
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
          <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ producto.image.url }}">
        </div>
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
          <a href="{{ producto.get_absolute_url }}" class="text-decoration-none text-reset">
            <h1 class="h5 pt-2">{{ producto.nombre }}</h1>
          </a>
          <div class="border">
            <div class="col border-bottom">
              <div class="row p-3">
                <div class="col-6 text-end"><span class="h6 fw-bold">€{{ producto.precio }}</span></div>
              </div>
            </div>
            <div class="col">
              <div class="row p-3">
                <div class="col-12">
                  <label for="select">Cant</label>
                  <select id="select{{producto.id}}">
                    <option selected>
                      {{item.cant}}
                    </option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                    <option value="">4</option>
                  </select>
                  <button type="button" id="actu-button" data-index="{{producto.id}}"
                    class="btn btn-outline-secondary btn-sm actu-button">
                    Actualizar
                  </button>
                  <button type="button" id="elim-button" data-index="{{producto.id}}"
                    class="btn btn-outline-secondary btn-sm elim-button">
                    Eliminar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endwith %}
      {% endfor %}
      <div class="col-12 text-end">
        <div class="h6 fw-bold">Sub Total: €<div id="subtotal" class="d-inline-flex">{{carrito.get_total_precio}}</div></div>
      </div>
    </div>
  </main>
  
  <script>
    // elim Item
    $(document).on('click', '.elim-button', function (e) {
      e.preventDefault();
      var prodid = $(this).data('index');
      $.ajax({
        type: 'POST',
        url: '{% url "carrito:carrito_elim" %}',
        data: {
          productoid: $(this).data('index'),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (json) {
          $('.producto-item[data-index="' + prodid + '"]').remove();
          document.getElementById("subtotal").innerHTML = json.subtotal;
          document.getElementById("carrito-cant").innerHTML = json.cant
        },
        error: function (xhr, errmsg, err) {}
      });
    })
  
    // actu Item
    $(document).on('click', '.actu-button', function (e) {
      e.preventDefault();
      var prodid = $(this).data('index');
      $.ajax({
        type: 'POST',
        url: '{% url "carrito:carrito_actu" %}',
        data: {
          productoid: $(this).data('index'),
          productocant: $('#select' + prodid + ' option:selected').text(),
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (json) {
          document.getElementById("subtotal").innerHTML = json.subtotal
          document.getElementById("carrito-cant").innerHTML = json.cant
          
        },
        error: function (xhr, errmsg, err) {}
      });
    })
  </script>
  
  {% endblock %}